html,
body {
	margin: 0;
	padding: 0;
}

body {
	overflow-y: scroll;
	overflow-x: hidden;
}

.site {
	display: grid;
	grid-template-areas: "header main"
	                     "header footer";
	grid-template-columns: 272px auto;
	grid-template-rows: 1fr 60px;
	min-height: 100vh;
}

.site-header {
	grid-area: header;
}

.site-footer {
	grid-area: footer;
}

.site-content {
	grid-area: main;
	overflow: auto;
}

header#masthead {
	border-right: 1px solid rgba(85, 85, 85, 0.50);
	padding: 48px 24px 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100vh;

	#profile-navigation {
		margin-top: auto;
		#footer-menu {
			display: flex;
			width: 100%;
			margin:0;
			padding: 0;
			gap: 16px;
			align-items: center;
			list-style-type: none;
			li:first-child {
				margin-right: auto;
			}
			.avatar img {
				border-radius: 50%;
				width: 32px;
				height: 32px;
			}
		}
	}
}

ul#primary-menu {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 0;
	flex-direction: column;
	align-items: flex-start;
	flex-shrink: 0;

}

.site-branding {
	padding-bottom: 48px;
}

ul#primary-menu li {
	display: flex;
	align-items: center;
	align-self: stretch;
	overflow: hidden;
	color: $color__wpcloud-white;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

ul#primary-menu li a {
	padding: 8px $size__wpcloud-grid-unit-15;
	height: 40px;
	width: 100%;
	display: flex;
	align-items: center;
	column-gap: 12px;
}

ul#primary-menu .current-menu-item {
	border-radius: 4px;
	background: #F72B00;
}

.hidden {
	display: none !important;
}
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

.notice  p {
    background:$color__wpcloud-1-accent-600;
    margin: 0;
    padding: 20px 64px;
    color: $color__wpcloud-white;
}

div#wpcloud-content {
	width: 100%;
	padding: 48px 64px 0;
}

nav.breadcrumbs {
	 a {
			display: flex;
			align-items: center;
			text-decoration: none;
			text-align: center;
			color: #ABA3A3;

			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: 16px;

			&:hover {
				color: $color__wpcloud-white;
			}
		}
}

button.button, .button {
	text-transform: uppercase;
	border-radius: 100px;
	border: 2px solid $color__wpcloud-1-accent-600;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.20);
	padding: 12px 24px;
	color: $color__wpcloud-white;
	text-align: center;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 12px;
	letter-spacing: 0.6px;
	text-decoration: none;
	outline: none;
	background-color: transparent;
}

button:disabled {
	background: $color__wp-cloud-1-base-30;
	border:  2px solid $color__wp-cloud-1-contrast-70;
	color: $color__wp-cloud-1-contrast-70;
}

.button--solid {
	background: $color__wpcloud-1-accent-600;
	&:hover {
		background: $color__wp-cloud-1-accent-scale-700;
		border: 2px solid $color__wpcloud-1-accent-700;
		color: $color__wpcloud-white;
	}
}

.button--wp {
	background: $color__wpcloud-2-accent-600;
	border:  2px solid $color__wpcloud-2-accent-700;
	&:hover {
		background: $color__wpcloud-2-accent-600;
		border: 2px solid $color__wpcloud-2-accent-700;
		color: $color__wpcloud-white;
	}
}

#primary-menu a::before {
	width: 24px;
	height: 24px;
}

.wpcloud-nav-sites a::before {
	content: url(/wp-content/themes/wpcloud-dashboard/assets/nav-icons/wp.svg);
}

.wpcloud-nav-collaborators a::before {
	content: url(/wp-content/themes/wpcloud-dashboard/assets/nav-icons/people.svg);
}

.wpcloud-nav-usage a::before {
	content: url(/wp-content/themes/wpcloud-dashboard/assets/nav-icons/trending.svg);
}

.wpcloud-nav-billing a::before {
	content: url(/wp-content/themes/wpcloud-dashboard/assets/nav-icons/currency-dollar.svg);
}

.wpcloud-nav-tools a::before {
	content: url(/wp-content/themes/wpcloud-dashboard/assets/nav-icons/tool.svg);
}


.wpcloud-site-list {
	.page-header {
		display: flex;
		flex-direction: column;
		row-gap: 24px;
		max-width: 1404px;;
		padding-bottom: 1rem;

		div {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.page-title {
			color: $color__wpcloud-white;
			font-size: 24px;
			font-style: normal;
			font-weight: 500;
			line-height: 28.8px;
			margin: 0;
		}

		.wpcloud-site-search {
			border-radius: 2px;
			border: 1px solid rgba(171, 163, 163, 0.50);

			button, input {
				border-radius: 0;
				border: none;
				background: none;
				outline: none;
				color: $color__wpcloud-white;
			}
			button {
				background-image: url(./assets/search.svg);
				background-repeat: no-repeat;
				background-position: center;
				text-indent: -9999px;
				width: 32px;
			}

			input::placeholder {
				color: rgba(171, 163, 163, 0.50);
				font-family: "SF Pro Text" Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
				font-size: 13px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px;
			}
		}
	}
}

.wpcloud-site-table {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;

	a {
		text-decoration: none;
	}

	.wpcloud-list-row {
		display: flex;
		height: 56px;
		min-height: 48px;
		align-items: center;
		align-self: stretch;
		color: $color__wpcloud-white;
		font-size: 11px;
		line-height: 20px;
		letter-spacing: 0.55px;
		border-bottom: 1px solid rgba(85, 85, 85, 0.50);

		th {
			text-transform: uppercase;
		}
		td {
			font-size: 13px;
		}
		&.wpcloud-list-data:hover {
				background: rgba(255, 255, 255, 0.10);
		}
	}

	.wpcloud-list-item {
		display: flex;
		max-width: 280px;
		align-items: center;
		gap: $size__wpcloud-grid-unit-15;
		align-self: stretch;
		font-weight: 400;
		justify-content: flex-start;
	  cursor: default;

		&.wpcloud-site { width: 280px; }
		&.wpcloud-role { min-width: 100px; }
		&.wpcloud-created { min-width: 100px; }
		&.wpcloud-state { width: 100px; }
		&.wpcloud-php { width: 80px; }
		&.wpcloud-perf { width: 140px; }
		&.wpcloud-data_center { width: 140px; }
		&.wpcloud-ip-addresses { width: 120px; }
		&.wpcloud-fav {
			width: 80px;
			justify-content: center;
		}
		&.wpcloud-actions { width: 140px; }
	}

	.wpcloud-list-wpadmin-button {
		display:flex;
		align-items: center;
		justify-content: space-between;
		height: 28px;
		border-radius: 100px;
		background: rgba(255, 255, 255, 0.10);
		padding: 4px $size__wpcloud-grid-unit-15 4px 8px;
		width: 100%;

		&:hover {
			background: rgba(255, 255, 255, 0.20);
			color: $color__wpcloud-white;
		}
		&:focus {
			color: $color__wpcloud-white;
			text-decoration: none;
			outline: none;
		}
	}

	.wpcloud-performance {
		display: flex;
		align-items: center;
		width: 110px;
		justify-content: space-between;
		.wpcloud-performance-mobile, .wpcloud-performance-desktop {
			display: flex;
			align-items: center;
			img:first-child {
				margin-right: 4px;
			}
		}
	}

	.site-card {
		display: grid;
		grid-template-columns: 40px 1fr;
		grid-template-rows: repeat(2, 20px);
		grid-column-gap: 12px;
		grid-row-gap: 4px;

		img {
			grid-area: 1 / 1 / 3 / 2;
			border-radius: $size__radius-10;
		}
		h2 {
			margin: 0;
			padding: 0;
			grid-area: 1 / 2 / 2 / 3;
			a {
				overflow: hidden;
				color: $color__wpcloud-white;
				text-overflow: ellipsis;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 20px;
				&:hover {
					font-weight: 700;
				}
			}
		}
		h3 {
			margin: 0;
			padding:0;
			grid-area: 2 / 2 / 3 / 3;
			a {
				color: #ABA3A3;
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px;
				display: flex;
				align-items: center;
				column-gap: 2px;
				img {
					width: 12px;
					height: 12px;
				}
				&:hover {
					font-weight: 700;
				}
			}
		}
	}

	.wpcloud-fav {
		&:hover {
			:not(.is-favorite)::before {
				content: '☆';
			}
		}
		.is-favorite::before {
			content: '★';
		}
	}

} /* end .wpcloud-site-table */

.wpcloud-new-site {
	display: flex;
	flex-direction: column;
	width: 100%;

	header {
		width: 100%;
		border-bottom: 1px solid rgba(85, 85, 85, 0.50);

		h1 {
			color: $color__wpcloud-white;
			font-size: 24px;
			font-style: normal;
			font-weight: 500;
			line-height: 28.8px;
			margin: 24px 0 0;
		}

	}

	article {
		padding-top: 24px;
	}
}

.wpcloud-form {
	border-radius: 10px;
	border: 1px solid rgba(85, 85, 85, 0.50);
	padding: 16px;
	width: fit-content;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px 20px;


	.wpcloud-form-group {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		gap:8px;
		label {
			min-width: 200px;
			color: $color__wpcloud-white;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 20px;
		}
		input, select {
			border-radius: 2px;
			border: 1px solid rgba(171, 163, 163, 0.50);
			background: none;
			outline: none;
			color: $color__wpcloud-white;
			padding: 4px;
			font-size: 14px;
			width: 100%;
		}
		input {
			min-width: 200px;
		}
		select.no-border {
			border: none;
			text-align: right;
		}

		input::placeholder {
			color: rgba(171, 163, 163, 0.50);
			font-family: "SF Pro Text" Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px;
		}
	}

	.wpcloud-form-group--stacked {
		flex-direction: column;
		align-items: flex-start;
	}
}

.wpcloud-login {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


	.wpcloud-notice--error {
		width: 400px;
		background: #F72B00;
		color: $color__wpcloud-white;
		padding: 16px;
		border-radius: 4px;
	}

	h1 {
		color: $color__wpcloud-white;;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px;
		margin: 0;
	}
	p {
		color: #ABA3A3;
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		margin: 0 0 16px;
	}
}

.wpcloud-site-details {
    display: grid;
    grid-template-areas: "site-thumbnail site-title site-title"
                         "site-thumbnail site-url site-url"
                         ". nav content";
    grid-template-columns: 100px 240px auto;
    grid-template-rows: 50px 80px auto;

    ul {
        display: flex;
        height: 100%;
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0;

        .current-menu-item {
            border-radius: 4px;
            background: #F72B00;
        }

        li {
            display: flex;
            align-items: center;
            align-self: stretch;
            overflow: hidden;
            color: $color__wpcloud-white;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;

            a {
                height: 40px;
                width: 100%;
                display: flex;
                align-items: center;
                column-gap: 12px;
                text-decoration: none;
                padding: 8px $size__wpcloud-grid-unit-15;
            }
        }
    }

    .wpcloud-site-details-content {
        grid-area: content;
        display: flex;

        .wpcloud-site-details-section {
            display: none;
        }

        .active {
            display: block;
        }
    }

    .site-thumbnail {
        grid-area: site-thumbnail;
        height: 80px;
    }

    .site-title {
        grid-area: site-title;
        margin: 0;

        a {
            display: inline-block;
        }

        a.button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 100px;
            padding: 4px $size__wpcloud-grid-unit-15 4px 8px;
            width: 150px;
            float: right;
        }
    }

    .site-url {
        grid-area: site-url;
        margin: 0;

        a {
            color: #ABA3A3;
        }
    }

    .wpcloud-site-details-nav {
        grid-area: nav;
    }

    .wpcloud-site-details-section {
        width: 600px;
        color: #fff;
        border: 1px solid rgba(85, 85, 85, 0.50);
        margin-left: 50px;
        padding: 0 30px 30px 30px;

        h3 {
            color: #ABA3A3;
            margin: 20px 0 5px;
        }

        p {
            margin: 0;
        }

        select {
            border-radius: 2px;
            border: 1px solid rgba(171, 163, 163, 0.50);
            background: none;
            outline: none;
            color: $color__wpcloud-white;
            padding: 4px;
            font-size: 14px;
            width: 100%;
        }
    }
}
