.DS_Store
phpcs.xml
phpunit.xml
Thumbs.db
wp-cli.local.yml
node_modules/
*.sql
*.tar.gz
*.zip

/vendor/
/build/
docker-compose.yml
/dist/
/bin/temp
/wp-env-mu-plugins
!/wp-env-mu-plugins/0_atomic.php.example