<!-- wp:template-part {"slug":"header","area":"uncategorized"} /-->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"25%"} -->
<div class="wp-block-column" style="flex-basis:25%"></div>
<!-- /wp:column -->

<!-- wp:column {"width":"1222px"} -->
<div class="wp-block-column" style="flex-basis:1222px"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">Sites</h2>
<!-- /wp:heading -->

<!-- wp:wpcloud/link {"label":"Add Site","url":"/add-site","style":"button"} -->
<a class="wp-block-wpcloud-link" href="/add-site" target="_self" rel="noopener" data-name="name">Add Site</a>
<!-- /wp:wpcloud/link --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"43px"} -->
<div style="height:43px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:query {"queryId":2,"query":{"perPage":10,"pages":0,"offset":0,"postType":"wpcloud_site","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"status":"any"},"namespace":"wpcloud/site-list"} -->
<div class="wp-block-query"><!-- wp:wpcloud/site-template -->
<!-- wp:wpcloud/site-template-header -->
<span class="wp-block-wpcloud-site-template-header wpcloud-block-site-list--header"><!-- wp:wpcloud/table-cell {"isHeader":true} -->
<th class="wp-block-wpcloud-table-cell"><!-- wp:heading -->
<h2 class="wp-block-heading">Site</h2>
<!-- /wp:heading --></th>
<!-- /wp:wpcloud/table-cell -->

<!-- wp:wpcloud/table-cell {"isHeader":true} -->
<th class="wp-block-wpcloud-table-cell"><!-- wp:heading -->
<h2 class="wp-block-heading">Owner</h2>
<!-- /wp:heading --></th>
<!-- /wp:wpcloud/table-cell -->

<!-- wp:wpcloud/table-cell {"isHeader":true} -->
<th class="wp-block-wpcloud-table-cell"><!-- wp:heading -->
<h2 class="wp-block-heading">Created</h2>
<!-- /wp:heading --></th>
<!-- /wp:wpcloud/table-cell -->

<!-- wp:wpcloud/table-cell {"isHeader":true} -->
<th class="wp-block-wpcloud-table-cell"><!-- wp:heading -->
<h2 class="wp-block-heading">PHP</h2>
<!-- /wp:heading --></th>
<!-- /wp:wpcloud/table-cell -->

<!-- wp:wpcloud/table-cell {"isHeader":true} -->
<th class="wp-block-wpcloud-table-cell"><!-- wp:heading -->
<h2 class="wp-block-heading">WP Version</h2>
<!-- /wp:heading --></th>
<!-- /wp:wpcloud/table-cell -->

<!-- wp:wpcloud/table-cell {"isHeader":true} -->
<th class="wp-block-wpcloud-table-cell"><!-- wp:heading -->
<h2 class="wp-block-heading">Database</h2>
<!-- /wp:heading --></th>
<!-- /wp:wpcloud/table-cell -->

<!-- wp:wpcloud/table-cell {"isHeader":true} -->
<th class="wp-block-wpcloud-table-cell"><!-- wp:heading -->
<h2 class="wp-block-heading">Actions</h2>
<!-- /wp:heading --></th>
<!-- /wp:wpcloud/table-cell --></span>
<!-- /wp:wpcloud/site-template-header -->

<!-- wp:wpcloud/site-card -->
<div class="wp-block-wpcloud-site-card wp-block-wpcloud-site-card"><img src="https://via.placeholder.com/50"/><h2 class="site-title"><a href="#">Site Name</a></h2><h3 class="site-url"><a href="#" target="_blank" rel="noopener"><span>Site Domain</span><span class="dashicon dashicons dashicons-external"></span></a></h3></div>
<!-- /wp:wpcloud/site-card -->

<!-- wp:wpcloud/table-cell -->
<td class="wp-block-wpcloud-table-cell"><!-- wp:post-author {"textAlign":"left","showAvatar":false,"showBio":false,"isLink":true} /--></td>
<!-- /wp:wpcloud/table-cell -->

<!-- wp:wpcloud/table-cell -->
<td class="wp-block-wpcloud-table-cell"><!-- wp:post-date {"textAlign":"left","format":"n/j/Y"} /--></td>
<!-- /wp:wpcloud/table-cell -->

<!-- wp:wpcloud/site-detail {"label":"PHP","name":"php_version","hideLabel":true} -->
<div class="wp-block-wpcloud-site-detail wpcloud-block-site-detail"><div class="wpcloud-block-site-detail__value">{ PHP }</div></div>
<!-- /wp:wpcloud/site-detail -->

<!-- wp:wpcloud/site-detail {"label":"WP","name":"wp_version","hideLabel":true} -->
<div class="wp-block-wpcloud-site-detail wpcloud-block-site-detail"><div class="wpcloud-block-site-detail__value">{ WP }</div></div>
<!-- /wp:wpcloud/site-detail -->

<!-- wp:wpcloud/site-detail {"label":"phpMyAdmin","name":"phpmyadmin_url","hideLabel":true,"refreshLink":true} -->
<div class="wp-block-wpcloud-site-detail wpcloud-block-site-detail refresh-link"><div class="wpcloud-block-site-detail__value">{ phpMyAdmin }</div></div>
<!-- /wp:wpcloud/site-detail -->

<!-- wp:wpcloud/link {"label":"WP Admin","name":"wp_admin_url","style":"text"} -->
<a class="wp-block-wpcloud-link" href="" target="_self" rel="noopener" data-name="name">WP Admin</a>
<!-- /wp:wpcloud/link -->
<!-- /wp:wpcloud/site-template -->

<!-- wp:query-pagination -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"25%"} -->
<div class="wp-block-column" style="flex-basis:25%"></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->