<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:spacer {"height":"0px","className":"wpcloud-page\u002d\u002dspacer\u002d\u002dtop"} -->
<div style="height:0px" aria-hidden="true" class="wp-block-spacer wpcloud-page--spacer--top"></div>
<!-- /wp:spacer -->

<!-- wp:columns {"className":"wpcloud-page\u002d\u002dcontent"} -->
<div class="wp-block-columns wpcloud-page--content"><!-- wp:column {"width":""} -->
<div class="wp-block-column"></div>
<!-- /wp:column -->

<!-- wp:column {"width":"600px"} -->
<div class="wp-block-column" style="flex-basis:600px"><!-- wp:post-content {"lock":{"move":false,"remove":false},"layout":{"type":"constrained"}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":""} -->
<div class="wp-block-column"></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer","area":"uncategorized","className":"wpcloud-footer"} /-->