& {
	&.wpcloud-site-list--sidebar {
		max-width: 400px;
		.wp-block-wpcloud-site-card + .wp-block-wpcloud-site-card {
			border-top: 1px solid var(--wp--preset--color--border-primary);
		}
		.wp-block-wpcloud-site-card {
			margin: 0;
			padding: 11px 16px;

			&.is-current {
				background-color: var(--wp--preset--color--background-secondary);
			}
			&:hover {
				background-color: var(--wp--preset--color--background-secondary);
			}
		}
	}
}