& {
	&.wpcloud-site-list--sidebar {
		max-width: 400px;;
		.wp-block-wpcloud-site-card {
			margin: 0;
			padding: 11px 16px;
			border-bottom: 1px solid var(--wp--preset--color--border-primary);
			&.is-current {
				background-color: var(--wp--preset--color--background-secondary);
			}
		}
	}
}