& {
 .wpcloud-site-alias-add--expanding-section {
		background: none;
		.wpcloud-block-expanding-section__content-wrapper {
			background-color: var(--wp--preset--color--background-secondary);
			border-radius: 5px;
		}
 }
}