& {
	width: fit-content;
	max-height: 38px;
	display: flex;
	align-items: center;
	letter-spacing: 0.125rem;

	.wpcloud-block-button__content {
		display: flex;
		align-items: center;
		justify-content: center;
		width: fit-content;
	}

	&.is-secondary:not(.is-text) {
		background: transparent;
		border: 2px solid var(--wp--preset--color--accent-primary);
	}

	&.wpcloud-block-button__text {
		border: none;
		background: transparent;
		color: var(--wp--preset--color--foreground-primary);
		padding: 0;
		.wpcloud-block-icon {
			padding-left: 4px;
		}
	}
	&:not(.wpcloud-block-button__text) {
		max-height: 32px;
		.wpcloud-block-icon {
			padding-left: 8px;
		}
	}

	.wpcloud-block-button__label {
		cursor: pointer;
	}

	a:where(:not(.wp-element-button)) {
		color: unset;
	}
}
