& {
	&.wpcloud-block-expanding-section__content-wrapper {
  	display: grid;
  	grid-template-rows: 0fr;
  	transition: all 0.5s ease-out;

		&.section-toggled {
			grid-template-rows: 1fr;
		}

		.wpcloud-block-expanding-section__content {
			overflow: hidden;
  		min-height: 0;
 		}
	}

	&.is-open:not(.hide-header) {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	.wpcloud-block-expanding-section__content-inner {
		padding: 1rem;
	}
	.wp-block-wpcloud-form {
		margin-top: 0;

	}
}
