& {
	width: 100%;
	border-collapse: collapse;
	max-width: 1222px;
	background: var(--wp--preset--color--background-primary);

	th {
		color: var(--wp--preset--color--foreground-secondary);
		border: none;
		padding-top: 13px;
		padding-bottom: 18px;
		h2 {
				font-weight: 400;
				font-size: var(--wp--preset--font-size--small-caps);
				color: var(--wp--preset--color--foreground-secondary);
				text-transform: uppercase;
		}
		svg {
			fill: currentColor;
		}
	}
	th, td {
		text-align: left;
	}
	tr:last-child td {
		border-bottom: none;
	}

	tr {
		vertical-align: middle;

		td:first-child, th {
			padding-left: 0.5rem;
		}
		&:not(thead tr):hover {
			background-color: var(--wp--preset--color--background-secondary);
		}
	}

	.wpcloud-block-site-detail {
		margin-top: 0;
	}
	.wp-block-post-author__content a:hover {
		text-decoration: none;
		color: var(--wp--preset--color--accent-primary);
	}
}