& {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	&.is-inline {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.wpcloud-block-form-input__label, .wpcloud-block-form-input__input, .wpcloud-block-form-input__label-text {
			margin: 0;
		}
		.wpcloud-block-form-input__label {
			padding-top: 0;
			padding-bottom: 0;
		}
		.wpcloud-block-form-input__label.is-label-inline .wpcloud-block-form-input__label-text {
			margin-bottom: 0;
		}
	}
	button {
		width: fit-content;
	}
	&.is-loading {
		opacity: 0.4;
	}

	.wpcloud-block-form--input--toggle + .wpcloud-block-form--input--toggle  {
		border-top: 1px solid var(--wp--preset--color--border-primary);
	}

	.wpcloud-block-form--input:not(.wpcloud-block-form--input--toggle) + .wpcloud-block-form--input:not(.wpcloud-block-form--input--toggle) {
		margin-top: 1rem;
	}

}