& {
	position: relative;
	.wpcloud-more-menu__button {
		color: var(--wp--preset--color--foreground-secondary);
		svg {
			fill: currentColor;
		}
		background: none;
		border: none;
		&:hover + .wpcloud-more-menu__nav {
			display: flex;
		}
		&:hover {
			opacity: 0.3;
		}
	}
	.wpcloud-more-menu__nav {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;

		width: fit-content;
		min-width: 180px;

		background-color: var(--wp--preset--color--background-secondary);

		display: none;
		flex-direction: column;

		margin: 0;
		padding: 8px 16px;

		box-shadow: 0px 2px 10px 0px #00000040;
		border-radius: 10px;

		&:hover {
			display: flex;
		}
		&:hover + .wpcloud-more-menu__nav {
			opacity: 0.3;
		}

		.wpcloud-block-form.is-inline {
			justify-content: unset;
		}

		.wpcloud-site-list-menu__title {
			text-align: center;
		}

		.wpcloud-more-menu__row {
			gap: 16px;
			height: 56px;
			justify-content: unset;
		}

		button {
			font-family: var(--wp--preset--font-family--primary);
		}

		h4 {
			text-transform: uppercase;
			font-size: var(--wp--preset--font-size--small-caps);
			margin: 0;
			letter-spacing: 2px;
		}

		.wp-block-wpcloud-form {
			justify-content: space-between;
			font-size: var(--wp--preset--font-size--body-medium);
		}

		p {
			max-width: 360px;
			width: fit-content;
		}
	}
}