& {
	width: 100%;
	border-collapse: collapse;

	th {
		color: var(--wp--preset--color--foreground-secondary);
		border: none;
		padding-top: 13px;
		padding-bottom: 18px;
		h2 {
				font-weight: 400;
				font-size: var(--wp--preset--font-size--small-caps);
				color: var(--wp--preset--color--foreground-secondary);
				text-transform: uppercase;
		}
		svg {
			fill: currentColor;
		}
	}
	th, td {
		text-align: left;
	}

	tr {
		vertical-align: middle;
		border-bottom: 1px solid var(--wp--preset--color-border-primary);
	}

	.wpcloud-block-site-detail {
		margin-top: 0;
	}
}