@keyframes pulsate {
	0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
	50% {opacity: 1.0;}
	100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

@keyframes opacityPulse {
	0% {opacity: 0.0;}
	50% {opacity: 1.0;}
	100% {opacity: 0.0;}
}

.wpcloud-hide {
	opacity: 0;
	height: 0 !important;
	padding: 0 !important;
}

.wp-block-heading a:hover {
	text-decoration: none;
	color: var(--wp--preset--color--accent-primary);
}

/* footer styles */
.wpcloud-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: -1;
}


/**
 * Site View
 */
@media ( width > 360px ) {
	div.wpcloud-site-view--sidebar {
		min-width: 360px;
	}
}

@media( width <= 1252px) {
	.wp-block-columns {
		flex-wrap: wrap !important;
	}
	.wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column:not(.wpcloud-site-view--details):not(.wpcloud-site-view--sidebar) {
    flex-basis:100% !important;
  }
	div.wpcloud-site-view--details {
		flex-basis: 50% !important;
	}
	div.wpcloud-site-view--sidebar {
		flex-basis: 360px !important;
		margin-left: 16px;
	}
}

@media ( width < 782px ) {
	div.wpcloud-site-view--content, div.wpcloud-site-view--content--spacer {
		gap: 0;
		margin-top: 0;
	}
	.wpcloud-site-view--sidebar {
		display: none;
	}
	div.wpcloud-site-view--details {
		margin-left: 16px;
		margin-right: 16px;
		min-width: 300px;
	}
}