<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:spacer {"height":"12px","className":"wpcloud-site-view\u002d\u002dcontent\u002d\u002dspacer"} -->
<div style="height:12px" aria-hidden="true" class="wp-block-spacer wpcloud-site-view--content--spacer"></div>
<!-- /wp:spacer -->

<!-- wp:columns {"className":"wpcloud-site-view\u002d\u002dcontent"} -->
<div class="wp-block-columns wpcloud-site-view--content"><!-- wp:column {"width":""} -->
<div class="wp-block-column"></div>
<!-- /wp:column -->

<!-- wp:column {"width":"360px","className":"wpcloud-site-view\u002d\u002dsidebar"} -->
<div class="wp-block-column wpcloud-site-view--sidebar" style="flex-basis:360px"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading" id="/sites"><a href="/sites/">Sites</a></h1>
<!-- /wp:heading -->

<!-- wp:wpcloud/button {"label":"Add Site","url":"/add-site","className":"wpcloud-block-button\u002d\u002dcontent"} -->
<div class="wpcloud-block-button__content"><span class="wpcloud-block-button__label">Add Site</span></div>
<!-- /wp:wpcloud/button --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"19px"} -->
<div style="height:19px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"1100px","className":"wpcloud-site-view\u002d\u002ddetails"} -->
<div class="wp-block-column wpcloud-site-view--details" style="flex-basis:1100px"><!-- wp:template-part {"slug":"site-header","area":"uncategorized"} /-->

<!-- wp:wpcloud/site-details {"adminOnly":true,"metadata":{"name":"Admin"}} -->
<div class="wp-block-wpcloud-site-details wpcloud-block-site-detail-card wpcloud-admin-only"><!-- wp:paragraph -->
<p>This section is only visible to Station Admins.</p>
<!-- /wp:paragraph -->

<!-- wp:wpcloud/site-detail {"label":"Site Owner ","name":"owner_sites_link","metadata":{"name":"Site Owner "}} -->
<div class="wpcloud-block-site-detail"><div class="wpcloud-block-site-detail__title"><h5 class="wpcloud-block-site-detail__title-content">Site Owner </h5></div><div class="wpcloud-block-site-detail__value-container"><div class="wpcloud-block-site-detail__value">{ Site Owner  }</div></div></div>
<!-- /wp:wpcloud/site-detail -->

<!-- wp:wpcloud/site-detail {"label":"DB File Size","name":"db_file_size","metadata":{"name":"DB File Size"}} -->
<div class="wpcloud-block-site-detail"><div class="wpcloud-block-site-detail__title"><h5 class="wpcloud-block-site-detail__title-content">DB File Size</h5></div><div class="wpcloud-block-site-detail__value-container"><div class="wpcloud-block-site-detail__value">{ DB File Size }</div></div></div>
<!-- /wp:wpcloud/site-detail -->

<!-- wp:wpcloud/site-detail {"label":"Space Used","name":"space_used","metadata":{"name":"Space Used"}} -->
<div class="wpcloud-block-site-detail"><div class="wpcloud-block-site-detail__title"><h5 class="wpcloud-block-site-detail__title-content">Space Used</h5></div><div class="wpcloud-block-site-detail__value-container"><div class="wpcloud-block-site-detail__value">{ Space Used }</div></div></div>
<!-- /wp:wpcloud/site-detail -->

<!-- wp:wpcloud/form -->
<form class="wp-block-wpcloud-form wpcloud-block-form" enctype="text/plain"><!-- wp:wpcloud/form-input {"type":"select","name":"_data","label":"Site Type","adminOnly":true,"uniqueId":"9aceaa09-4f09-4716-8c0a-f939f77f4efe-_data","submitOnChange":true,"metadata":{"name":"Site Data"}} -->
<div class="wpcloud-block-form--input wp-block-wpcloud-form-input wpcloud-block-form--input--select"><label class="wpcloud-block-form-input__label" for="9aceaa09-4f09-4716-8c0a-f939f77f4efe-_data"><span class="wpcloud-block-form-input__label-content"><span class="wpcloud-block-form-input__label-text">Site Type</span></span><div class="wpcloud-form-input--select--wrapper"><select class="wpcloud-block-form-input__input submit-on-change wpcloud-station-form-input__select" aria-label="Select" name="_data"><option value=""></option><option value="staging">Staging</option><option value="billing">Billing</option><option value="internal">Internal</option></select></div></label></div>
<!-- /wp:wpcloud/form-input -->

<!-- wp:wpcloud/form-input {"name":"space_quota","label":"","uniqueId":"ee79a49f-5ac0-4a0f-b08c-2204cd7dba94-space_quota","metadata":{"name":"Space Quota Toggle"}} -->
<div class="wpcloud-block-form--input wp-block-wpcloud-form-input wpcloud-block-form--input--text"><label class="wpcloud-block-form-input__label" for="ee79a49f-5ac0-4a0f-b08c-2204cd7dba94-space_quota"><span class="wpcloud-block-form-input__label-content"><span class="wpcloud-block-form-input__label-text"></span><!-- wp:wpcloud/expanding-section {"clickToToggle":true,"hideHeader":false,"metadata":{"name":"space_quota hint"}} -->
<div class="wp-block-wpcloud-expanding-section wpcloud-block-expanding-section click-to-toggle"><!-- wp:wpcloud/expanding-header -->
<div class="wp-block-wpcloud-expanding-header wpcloud-block-expanding-section__header-wrapper"><div class="wpcloud-block-expanding-section__header"><!-- wp:heading {"level":5} -->
<h5 class="wp-block-heading">Space Quota</h5>
<!-- /wp:heading -->

<!-- wp:wpcloud/icon {"icon":"info"} -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="wp-block-wpcloud-icon wpcloud-block-icon" aria-hidden="true"><path d="M12 3.2c-4.8 0-8.8 3.9-8.8 8.8 0 4.8 3.9 8.8 8.8 8.8 4.8 0 8.8-3.9 8.8-8.8 0-4.8-4-8.8-8.8-8.8zm0 16c-4 0-7.2-3.3-7.2-7.2C4.8 8 8 4.8 12 4.8s7.2 3.3 7.2 7.2c0 4-3.2 7.2-7.2 7.2zM11 17h2v-6h-2v6zm0-8h2V7h-2v2z"></path></svg>
<!-- /wp:wpcloud/icon --></div></div>
<!-- /wp:wpcloud/expanding-header -->

<!-- wp:wpcloud/expanding-content -->
<div class="wp-block-wpcloud-expanding-content wpcloud-block-expanding-section__content-wrapper"><div class="wpcloud-block-expanding-section__content"><div class="wpcloud-block-expanding-section__content-inner"><!-- wp:paragraph -->
<p>Sets the space quota for a site. Values are integers in gigabytes.</p>
<!-- /wp:paragraph --></div></div></div>
<!-- /wp:wpcloud/expanding-content --></div>
<!-- /wp:wpcloud/expanding-section --></span><input type="text" class="wpcloud-block-form-input__input" aria-label="Optional placeholder text" placeholder="gigabytes" name="space_quota" id="ee79a49f-5ac0-4a0f-b08c-2204cd7dba94-space_quota" aria-required="false"/></label></div>
<!-- /wp:wpcloud/form-input -->

<!-- wp:wpcloud/form-input {"type":"checkbox","name":"do_not_delete","label":"","displayAsToggle":true,"uniqueId":"d4adcfdb-e96a-4950-b278-6c645e8fba85-do_not_delete","submitOnChange":true,"metadata":{"name":"Do not delete"},"className":"wpcloud-block-form\u002d\u002dinput\u002d\u002dcheckbox"} -->
<div class="wpcloud-block-form--input wp-block-wpcloud-form-input wpcloud-block-form--input--checkbox wpcloud-block-form--input--toggle"><input type="checkbox" class="wpcloud-block-form-input__input is-toggle submit-on-change" aria-label="Optional placeholder text" placeholder="Optional placeholder..." name="do_not_delete" id="d4adcfdb-e96a-4950-b278-6c645e8fba85-do_not_delete" aria-required="false"/><label class="wpcloud-block-form-input__label is-toggle" for="d4adcfdb-e96a-4950-b278-6c645e8fba85-do_not_delete"><span class="toggle-container"></span><span class="wpcloud-block-form-input__label-content"><span class="wpcloud-block-form-input__label-text"></span><!-- wp:wpcloud/expanding-section {"hideHeader":false,"metadata":{"name":"do_not_delete hint"}} -->
<div class="wp-block-wpcloud-expanding-section wpcloud-block-expanding-section"><!-- wp:wpcloud/expanding-header -->
<div class="wp-block-wpcloud-expanding-header wpcloud-block-expanding-section__header-wrapper"><div class="wpcloud-block-expanding-section__header"><!-- wp:heading {"level":5} -->
<h5 class="wp-block-heading">Do Not Delete</h5>
<!-- /wp:heading -->

<!-- wp:wpcloud/button {"type":"action","style":"text","isPrimary":false,"addIcon":true,"iconOnly":true,"action":"wpcloud_expanding_section_toggle"} -->
<div class="wpcloud-block-button__content"><!-- wp:wpcloud/icon {"icon":"info"} -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="wp-block-wpcloud-icon wpcloud-block-icon" aria-hidden="true"><path d="M12 3.2c-4.8 0-8.8 3.9-8.8 8.8 0 4.8 3.9 8.8 8.8 8.8 4.8 0 8.8-3.9 8.8-8.8 0-4.8-4-8.8-8.8-8.8zm0 16c-4 0-7.2-3.3-7.2-7.2C4.8 8 8 4.8 12 4.8s7.2 3.3 7.2 7.2c0 4-3.2 7.2-7.2 7.2zM11 17h2v-6h-2v6zm0-8h2V7h-2v2z"></path></svg>
<!-- /wp:wpcloud/icon --></div>
<!-- /wp:wpcloud/button --></div></div>
<!-- /wp:wpcloud/expanding-header -->

<!-- wp:wpcloud/expanding-content -->
<div class="wp-block-wpcloud-expanding-content wpcloud-block-expanding-section__content-wrapper"><div class="wpcloud-block-expanding-section__content"><div class="wpcloud-block-expanding-section__content-inner"><!-- wp:paragraph -->
<p>Prevent a site from begin deleted. This can be useful in some cases. For example, you might wish to preserve a site while it is being reviewed for Terms of Service violations.</p>
<!-- /wp:paragraph --></div></div></div>
<!-- /wp:wpcloud/expanding-content --></div>
<!-- /wp:wpcloud/expanding-section --></span></label></div>
<!-- /wp:wpcloud/form-input -->

<!-- wp:wpcloud/form-input {"type":"select","name":"suspended","label":"","options":[{"value":"404","label":"404"},{"value":"410","label":"410"},{"value":"451","label":"451"},{"value":"480","label":"480"}],"uniqueId":"0fcca492-e1fc-4f08-a89a-6a48fc7f67d5-suspended","submitOnChange":true,"metadata":{"name":"Suspended Status Code"}} -->
<div class="wpcloud-block-form--input wp-block-wpcloud-form-input wpcloud-block-form--input--select"><label class="wpcloud-block-form-input__label" for="0fcca492-e1fc-4f08-a89a-6a48fc7f67d5-suspended"><span class="wpcloud-block-form-input__label-content"><span class="wpcloud-block-form-input__label-text"></span><!-- wp:wpcloud/expanding-section {"clickToToggle":true,"hideHeader":false,"metadata":{"name":"suspended hint"}} -->
<div class="wp-block-wpcloud-expanding-section wpcloud-block-expanding-section click-to-toggle"><!-- wp:wpcloud/expanding-header -->
<div class="wp-block-wpcloud-expanding-header wpcloud-block-expanding-section__header-wrapper"><div class="wpcloud-block-expanding-section__header"><!-- wp:heading {"level":5} -->
<h5 class="wp-block-heading">Suspended HTTP Status Code</h5>
<!-- /wp:heading -->

<!-- wp:wpcloud/icon {"icon":"info"} -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="wp-block-wpcloud-icon wpcloud-block-icon" aria-hidden="true"><path d="M12 3.2c-4.8 0-8.8 3.9-8.8 8.8 0 4.8 3.9 8.8 8.8 8.8 4.8 0 8.8-3.9 8.8-8.8 0-4.8-4-8.8-8.8-8.8zm0 16c-4 0-7.2-3.3-7.2-7.2C4.8 8 8 4.8 12 4.8s7.2 3.3 7.2 7.2c0 4-3.2 7.2-7.2 7.2zM11 17h2v-6h-2v6zm0-8h2V7h-2v2z"></path></svg>
<!-- /wp:wpcloud/icon --></div></div>
<!-- /wp:wpcloud/expanding-header -->

<!-- wp:wpcloud/expanding-content -->
<div class="wp-block-wpcloud-expanding-content wpcloud-block-expanding-section__content-wrapper"><div class="wpcloud-block-expanding-section__content"><div class="wpcloud-block-expanding-section__content-inner"><!-- wp:paragraph -->
<p>Suspends a site. The value is the HTTP 4xx status code the site will respond with. The supported statuses are "404", "410", "451", and "480".</p>
<!-- /wp:paragraph --></div></div></div>
<!-- /wp:wpcloud/expanding-content --></div>
<!-- /wp:wpcloud/expanding-section --></span><div class="wpcloud-form-input--select--wrapper"><select class="wpcloud-block-form-input__input submit-on-change wpcloud-station-form-input__select" aria-label="Select" name="suspended"><option value="404">404</option><option value="410">410</option><option value="451">451</option><option value="480">480</option></select></div></label></div>
<!-- /wp:wpcloud/form-input -->

<!-- wp:wpcloud/form-input {"name":"suspend_after","label":"","uniqueId":"712902cb-1bf0-4efc-bdc5-7310e530cff3-suspend_after","metadata":{"name":"Suspend after"}} -->
<div class="wpcloud-block-form--input wp-block-wpcloud-form-input wpcloud-block-form--input--text"><label class="wpcloud-block-form-input__label" for="712902cb-1bf0-4efc-bdc5-7310e530cff3-suspend_after"><span class="wpcloud-block-form-input__label-content"><span class="wpcloud-block-form-input__label-text"></span><!-- wp:wpcloud/expanding-section {"clickToToggle":true,"hideHeader":false,"metadata":{"name":"suspend_after hint"}} -->
<div class="wp-block-wpcloud-expanding-section wpcloud-block-expanding-section click-to-toggle"><!-- wp:wpcloud/expanding-header -->
<div class="wp-block-wpcloud-expanding-header wpcloud-block-expanding-section__header-wrapper"><div class="wpcloud-block-expanding-section__header"><!-- wp:heading {"level":5} -->
<h5 class="wp-block-heading">Suspend after</h5>
<!-- /wp:heading -->

<!-- wp:wpcloud/icon {"icon":"info"} -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="wp-block-wpcloud-icon wpcloud-block-icon" aria-hidden="true"><path d="M12 3.2c-4.8 0-8.8 3.9-8.8 8.8 0 4.8 3.9 8.8 8.8 8.8 4.8 0 8.8-3.9 8.8-8.8 0-4.8-4-8.8-8.8-8.8zm0 16c-4 0-7.2-3.3-7.2-7.2C4.8 8 8 4.8 12 4.8s7.2 3.3 7.2 7.2c0 4-3.2 7.2-7.2 7.2zM11 17h2v-6h-2v6zm0-8h2V7h-2v2z"></path></svg>
<!-- /wp:wpcloud/icon --></div></div>
<!-- /wp:wpcloud/expanding-header -->

<!-- wp:wpcloud/expanding-content -->
<div class="wp-block-wpcloud-expanding-content wpcloud-block-expanding-section__content-wrapper"><div class="wpcloud-block-expanding-section__content"><div class="wpcloud-block-expanding-section__content-inner"><!-- wp:paragraph -->
<p>Suspends a site after a specified time. The value is a unix Timestamp.</p>
<!-- /wp:paragraph --></div></div></div>
<!-- /wp:wpcloud/expanding-content --></div>
<!-- /wp:wpcloud/expanding-section --></span><input type="text" class="wpcloud-block-form-input__input" aria-label="Optional placeholder text" placeholder="unix timestamp" name="suspend_after" id="712902cb-1bf0-4efc-bdc5-7310e530cff3-suspend_after" aria-required="false"/></label></div>
<!-- /wp:wpcloud/form-input --></form>
<!-- /wp:wpcloud/form --></div>
<!-- /wp:wpcloud/site-details -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer","area":"footer","className":"wpcloud-footer"} /-->