<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:spacer {"height":"12px","className":"wpcloud-site-view\u002d\u002dcontent\u002d\u002dspacer"} -->
<div style="height:12px" aria-hidden="true" class="wp-block-spacer wpcloud-site-view--content--spacer"></div>
<!-- /wp:spacer -->

<!-- wp:columns {"className":"wpcloud-site-view\u002d\u002dcontent"} -->
<div class="wp-block-columns wpcloud-site-view--content"><!-- wp:column {"width":""} -->
<div class="wp-block-column"></div>
<!-- /wp:column -->

<!-- wp:column {"width":"1100px","className":"wpcloud-site-view\u002d\u002ddetails"} -->
<div class="wp-block-column wpcloud-site-view--details" style="flex-basis:1100px"><!-- wp:template-part {"slug":"site-header","area":"uncategorized"} /-->

<!-- wp:wpcloud/card {"metadata":{"name":"Card: Domains"}} -->
<article class="wp-block-wpcloud-card"><!-- wp:wpcloud/card-section {"text":"Domains","metadata":{"name":"Domains"}} -->
<header class="wp-block-wpcloud-card-section"><h2>Domains</h2></header>
<!-- /wp:wpcloud/card-section -->

<!-- wp:wpcloud/card {"metadata":{"name":"Card: Add Domain"}} -->
<article class="wp-block-wpcloud-card"><!-- wp:wpcloud/card-section {"text":"Add Domain","level":3,"metadata":{"name":"Add Domain"}} -->
<header class="wp-block-wpcloud-card-section"><h3>Add Domain</h3></header>
<!-- /wp:wpcloud/card-section -->

<!-- wp:wpcloud/form {"wpcloudAction":"site_alias_add","className":"wpcloud-block-form\u002d\u002dsite-alias-add"} -->
<form class="wp-block-wpcloud-form wpcloud-block-form--site-alias-add wpcloud-block-form" enctype="text/plain"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:wpcloud/form-input {"name":"site_alias","label":"","uniqueId":"ec4f3fd2-e237-4358-9e3f-ec59f0552cf7-site_alias"} -->
<div class="wpcloud-block-form--input wp-block-wpcloud-form-input wpcloud-block-form--input--text"><label class="wpcloud-block-form-input__label" for="ec4f3fd2-e237-4358-9e3f-ec59f0552cf7-site_alias"><span class="wpcloud-block-form-input__label-content"><span class="wpcloud-block-form-input__label-text"></span></span><input type="text" class="wpcloud-block-form-input__input" aria-label="Optional placeholder text" placeholder="example.com" name="site_alias" id="ec4f3fd2-e237-4358-9e3f-ec59f0552cf7-site_alias" required aria-required="true"/></label></div>
<!-- /wp:wpcloud/form-input -->

<!-- wp:wpcloud/button {"type":"submit","label":"Add"} -->
<div class="wp-block-wpcloud-button wpcloud-block-button__content"><span class="wpcloud-block-button__label">Add</span></div>
<!-- /wp:wpcloud/button --></div>
<!-- /wp:group --></form>
<!-- /wp:wpcloud/form --></article>
<!-- /wp:wpcloud/card -->

<!-- wp:wpcloud/card {"metadata":{"name":"Card: Domains"}} -->
<article class="wp-block-wpcloud-card"><!-- wp:wpcloud/card-section {"text":"Domains","metadata":{"name":"Domains"}} -->
<header class="wp-block-wpcloud-card-section"><h2>Domains</h2></header>
<!-- /wp:wpcloud/card-section -->

<!-- wp:wpcloud/accordion -->
<!-- wp:group {"metadata":{"name":"Heading"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":5} -->
<h5 class="wp-block-heading">IP Address Info</h5>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Content"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>After adding a domain you will need to create an A record for the domain that points to one of these IP addresses:</p>
<!-- /wp:paragraph -->

<!-- wp:wpcloud/site-detail {"label":"IP Addresses","name":"ip_addresses","hideLabel":true,"showCopyButton":true,"metadata":{"name":"IP Addresses"},"className":"wp-block-wpcloud-site-detail"} -->
<div class="wpcloud-block-site-detail"><div class="wpcloud-block-site-detail__value-container copy-to-clipboard"><div class="wpcloud-block-site-detail__value">{ IP Addresses }</div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="wpcloud-copy-to-clipboard" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.625 5.5h9.75c.069 0 .125.056.125.125v9.75a.125.125 0 0 1-.125.125h-9.75a.125.125 0 0 1-.125-.125v-9.75c0-.069.056-.125.125-.125ZM4 5.625C4 4.728 4.728 4 5.625 4h9.75C16.273 4 17 4.728 17 5.625v9.75c0 .898-.727 1.625-1.625 1.625h-9.75A1.625 1.625 0 0 1 4 15.375v-9.75Zm14.5 11.656v-9H20v9C20 18.8 18.77 20 17.251 20H6.25v-1.5h11.001c.69 0 1.249-.528 1.249-1.219Z"></path></svg></div></div>
<!-- /wp:wpcloud/site-detail --></div>
<!-- /wp:group -->
<!-- /wp:wpcloud/accordion -->

<!-- wp:wpcloud/site-domains -->
<div class="wpcloud-block-site-alias-add wp-block-wpcloud-site-domains"><!-- wp:group {"className":"wpcloud-domains"} -->
<div class="wp-block-group wpcloud-domains"><!-- wp:wpcloud/site-alias-list -->
<div class="wp-block-wpcloud-site-alias-list wpcloud-block-site-alias-list--wrapper"><!-- wp:group {"metadata":{"name":"Site Alias List"},"className":"wpcloud-block-site-alias-list"} -->
<div class="wp-block-group wpcloud-block-site-alias-list"><!-- wp:group {"metadata":{"name":"Primary Domain Row"},"className":"wpcloud-block-site-alias-list__row wpcloud-block-site-alias-list__row\u002d\u002dprimary","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group wpcloud-block-site-alias-list__row wpcloud-block-site-alias-list__row--primary"><!-- wp:wpcloud/site-detail {"label":"Primary Domain","name":"domain_name","inline":true,"hideLabel":true,"metadata":{"name":"Primary Domain"},"className":"wpcloud-block-site-alias-list__item\u002d\u002dprimary"} -->
<div class="wpcloud-block-site-detail is-inline"><div class="wpcloud-block-site-detail__value-container"><div class="wpcloud-block-site-detail__value">{ Primary Domain }</div></div></div>
<!-- /wp:wpcloud/site-detail -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group"><!-- wp:wpcloud/form {"wpcloudAction":"retry_ssl","className":"display-none wpcloud-block-form-retry-ssl"} -->
<form class="wp-block-wpcloud-form display-none wpcloud-block-form-retry-ssl wpcloud-block-form" enctype="text/plain"><!-- wp:wpcloud/button {"type":"submit","style":"text","label":"Retry SSL","isPrimary":false} -->
<div class="wp-block-wpcloud-button wpcloud-block-button__content"><span class="wpcloud-block-button__label">Retry SSL</span></div>
<!-- /wp:wpcloud/button --></form>
<!-- /wp:wpcloud/form -->

<!-- wp:paragraph {"metadata":{"name":"Primary Domain Badge"},"className":"wpcloud-block-site-alias-list__item\u002d\u002dprimary-badge"} -->
<p class="wpcloud-block-site-alias-list__item--primary-badge">Primary</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Alias Row"},"className":"wpcloud-block-site-alias-list__row wpcloud-block-dynamic-row","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
<div class="wp-block-group wpcloud-block-site-alias-list__row wpcloud-block-dynamic-row"><!-- wp:wpcloud/site-detail {"label":"Alias","name":"alias","inline":true,"hideLabel":true,"metadata":{"name":"Site Alias"}} -->
<div class="wpcloud-block-site-detail is-inline"><div class="wpcloud-block-site-detail__value-container"><div class="wpcloud-block-site-detail__value">{ Alias }</div></div></div>
<!-- /wp:wpcloud/site-detail -->

<!-- wp:group {"metadata":{"name":"Alias Actions"},"className":"wpcloud-alias-actions","style":{"layout":{"selfStretch":"fit","flexSize":null},"spacing":{"padding":{"right":"0","left":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"left"}} -->
<div class="wp-block-group wpcloud-alias-actions" style="margin-top:0;margin-bottom:0;padding-right:0;padding-left:0"><!-- wp:wpcloud/site-detail {"label":"Verification Code","hideLabel":true,"showCopyButton":true,"metadata":{"name":"Verification Code"},"className":"site-alias-verification-code display-none"} -->
<div class="wpcloud-block-site-detail"><div class="wpcloud-block-site-detail__value-container copy-to-clipboard"><div class="wpcloud-block-site-detail__value">{ Verification Code }</div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="wpcloud-copy-to-clipboard" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.625 5.5h9.75c.069 0 .125.056.125.125v9.75a.125.125 0 0 1-.125.125h-9.75a.125.125 0 0 1-.125-.125v-9.75c0-.069.056-.125.125-.125ZM4 5.625C4 4.728 4.728 4 5.625 4h9.75C16.273 4 17 4.728 17 5.625v9.75c0 .898-.727 1.625-1.625 1.625h-9.75A1.625 1.625 0 0 1 4 15.375v-9.75Zm14.5 11.656v-9H20v9C20 18.8 18.77 20 17.251 20H6.25v-1.5h11.001c.69 0 1.249-.528 1.249-1.219Z"></path></svg></div></div>
<!-- /wp:wpcloud/site-detail -->

<!-- wp:wpcloud/icon {"icon":"warning","className":"alias-warning display-none"} -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="24" height="24" class="wp-block-wpcloud-icon alias-warning display-none wpcloud-block-icon" aria-hidden="true"><path d="M10 2c4.42 0 8 3.58 8 8s-3.58 8-8 8-8-3.58-8-8 3.58-8 8-8zm1.13 9.38l.35-6.46H8.52l.35 6.46h2.26zm-.09 3.36c.24-.23.37-.55.37-.96 0-.42-.12-.74-.36-.97s-.59-.35-1.06-.35-.82.12-1.07.35-.37.55-.37.97c0 .41.13.73.38.96.26.23.61.34 1.06.34s.8-.11 1.05-.34z"></path></svg>
<!-- /wp:wpcloud/icon -->

<!-- wp:wpcloud/dropdown {"hideChevron":true,"useIcon":true,"icon":"moreVertical","metadata":{"name":""}} -->
<details class="wp-block-wpcloud-dropdown dropdown hide-chevron"><summary role="" class=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" aria-hidden="true"><path d="M13 19h-2v-2h2v2zm0-6h-2v-2h2v2zm0-6h-2V5h2v2z"></path></svg></summary><ul><!-- wp:wpcloud/list-item -->
<li class="wp-block-wpcloud-list-item"><!-- wp:heading {"level":4,"className":"wpcloud-site-list-menu__title"} -->
<h4 class="wp-block-heading wpcloud-site-list-menu__title">Domain Options</h4>
<!-- /wp:heading --></li>
<!-- /wp:wpcloud/list-item -->

<!-- wp:wpcloud/list-item {"metadata":{"name":"make primary"}} -->
<li class="wp-block-wpcloud-list-item"><!-- wp:wpcloud/form {"wpcloudAction":"site_alias_make_primary","inline":true,"metadata":{"name":"Make Primary"},"className":"wpcloud-block-site-alias-list\u002d\u002dmake-primary wpcloud-more-menu__row"} -->
<form class="wp-block-wpcloud-form wpcloud-block-site-alias-list--make-primary wpcloud-more-menu__row wpcloud-block-form is-inline" enctype="text/plain"><!-- wp:wpcloud/icon {"icon":"starEmpty"} -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="wp-block-wpcloud-icon wpcloud-block-icon" aria-hidden="true"><path fill-rule="evenodd" d="M9.706 8.646a.25.25 0 01-.188.137l-4.626.672a.25.25 0 00-.139.427l3.348 3.262a.25.25 0 01.072.222l-.79 4.607a.25.25 0 00.362.264l4.138-2.176a.25.25 0 01.233 0l4.137 2.175a.25.25 0 00.363-.263l-.79-4.607a.25.25 0 01.072-.222l3.347-3.262a.25.25 0 00-.139-.427l-4.626-.672a.25.25 0 01-.188-.137l-2.069-4.192a.25.25 0 00-.448 0L9.706 8.646zM12 7.39l-.948 1.921a1.75 1.75 0 01-1.317.957l-2.12.308 1.534 1.495c.412.402.6.982.503 1.55l-.362 2.11 1.896-.997a1.75 1.75 0 011.629 0l1.895.997-.362-2.11a1.75 1.75 0 01.504-1.55l1.533-1.495-2.12-.308a1.75 1.75 0 01-1.317-.957L12 7.39z" clip-rule="evenodd"></path></svg>
<!-- /wp:wpcloud/icon -->

<!-- wp:wpcloud/form-input {"type":"hidden","name":"site_alias","uniqueId":"a770f172-cf37-4e1b-ae3a-608e9654a511-site_alias"} -->
<input type="hidden" name="site_alias" value=""/>
<!-- /wp:wpcloud/form-input -->

<!-- wp:wpcloud/button {"type":"submit","style":"text","label":"Make Primary","isPrimary":false} -->
<div class="wp-block-wpcloud-button wpcloud-block-button__content"><span class="wpcloud-block-button__label">Make Primary</span></div>
<!-- /wp:wpcloud/button --></form>
<!-- /wp:wpcloud/form --></li>
<!-- /wp:wpcloud/list-item -->

<!-- wp:wpcloud/list-item {"metadata":{"name":"remove"}} -->
<li class="wp-block-wpcloud-list-item"><!-- wp:wpcloud/form {"wpcloudAction":"site_alias_remove","inline":true,"metadata":{"name":"Remove Domain"},"className":"wpcloud-block-site-alias-list\u002d\u002dremove wpcloud-more-menu__row"} -->
<form class="wp-block-wpcloud-form wpcloud-block-site-alias-list--remove wpcloud-more-menu__row wpcloud-block-form is-inline" enctype="text/plain"><!-- wp:wpcloud/icon {"icon":"trash"} -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="wp-block-wpcloud-icon wpcloud-block-icon" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 5.5A2.25 2.25 0 0 0 9.878 7h4.244A2.251 2.251 0 0 0 12 5.5ZM12 4a3.751 3.751 0 0 0-3.675 3H5v1.5h1.27l.818 8.997a2.75 2.75 0 0 0 2.739 2.501h4.347a2.75 2.75 0 0 0 2.738-2.5L17.73 8.5H19V7h-3.325A3.751 3.751 0 0 0 12 4Zm4.224 4.5H7.776l.806 8.861a1.25 1.25 0 0 0 1.245 1.137h4.347a1.25 1.25 0 0 0 1.245-1.137l.805-8.861Z"></path></svg>
<!-- /wp:wpcloud/icon -->

<!-- wp:wpcloud/form-input {"type":"hidden","name":"site_alias","uniqueId":"ef678756-853e-4fd6-9566-d5f9b8f4005a-site_alias"} -->
<input type="hidden" name="site_alias" value=""/>
<!-- /wp:wpcloud/form-input -->

<!-- wp:wpcloud/button {"type":"submit","style":"text","label":"Remove Domain","isPrimary":false} -->
<div class="wp-block-wpcloud-button wpcloud-block-button__content"><span class="wpcloud-block-button__label">Remove Domain</span></div>
<!-- /wp:wpcloud/button --></form>
<!-- /wp:wpcloud/form --></li>
<!-- /wp:wpcloud/list-item -->

<!-- wp:wpcloud/list-item {"metadata":{"name":"request TXT"}} -->
<li class="wp-block-wpcloud-list-item"><!-- wp:wpcloud/form {"wpcloudAction":"request_txt_verification","inline":true,"metadata":{"name":"Request TXT"},"className":"display-none wpcloud-block-form-request_txt_verification wpcloud-more-menu__row"} -->
<form class="wp-block-wpcloud-form display-none wpcloud-block-form-request_txt_verification wpcloud-more-menu__row wpcloud-block-form is-inline" enctype="text/plain"><!-- wp:wpcloud/icon {"icon":"warning"} -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="24" height="24" class="wp-block-wpcloud-icon wpcloud-block-icon" aria-hidden="true"><path d="M10 2c4.42 0 8 3.58 8 8s-3.58 8-8 8-8-3.58-8-8 3.58-8 8-8zm1.13 9.38l.35-6.46H8.52l.35 6.46h2.26zm-.09 3.36c.24-.23.37-.55.37-.96 0-.42-.12-.74-.36-.97s-.59-.35-1.06-.35-.82.12-1.07.35-.37.55-.37.97c0 .41.13.73.38.96.26.23.61.34 1.06.34s.8-.11 1.05-.34z"></path></svg>
<!-- /wp:wpcloud/icon -->

<!-- wp:wpcloud/button {"type":"submit","style":"text","label":"Request TXT","isPrimary":false} -->
<div class="wp-block-wpcloud-button wpcloud-block-button__content"><span class="wpcloud-block-button__label">Request TXT</span></div>
<!-- /wp:wpcloud/button --></form>
<!-- /wp:wpcloud/form -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></li>
<!-- /wp:wpcloud/list-item -->

<!-- wp:wpcloud/list-item {"metadata":{"name":"retry SSL"}} -->
<li class="wp-block-wpcloud-list-item"><!-- wp:wpcloud/form {"wpcloudAction":"retry_ssl","inline":true,"metadata":{"name":"Retry SSL"},"className":"display-none wpcloud-block-form-retry-ssl wpcloud-more-menu__row"} -->
<form class="wp-block-wpcloud-form display-none wpcloud-block-form-retry-ssl wpcloud-more-menu__row wpcloud-block-form is-inline" enctype="text/plain"><!-- wp:wpcloud/icon {"icon":"warning"} -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="24" height="24" class="wp-block-wpcloud-icon wpcloud-block-icon" aria-hidden="true"><path d="M10 2c4.42 0 8 3.58 8 8s-3.58 8-8 8-8-3.58-8-8 3.58-8 8-8zm1.13 9.38l.35-6.46H8.52l.35 6.46h2.26zm-.09 3.36c.24-.23.37-.55.37-.96 0-.42-.12-.74-.36-.97s-.59-.35-1.06-.35-.82.12-1.07.35-.37.55-.37.97c0 .41.13.73.38.96.26.23.61.34 1.06.34s.8-.11 1.05-.34z"></path></svg>
<!-- /wp:wpcloud/icon -->

<!-- wp:wpcloud/button {"type":"submit","style":"text","label":"Retry SSL","isPrimary":false} -->
<div class="wp-block-wpcloud-button wpcloud-block-button__content"><span class="wpcloud-block-button__label">Retry SSL</span></div>
<!-- /wp:wpcloud/button --></form>
<!-- /wp:wpcloud/form --></li>
<!-- /wp:wpcloud/list-item --></ul></details>
<!-- /wp:wpcloud/dropdown --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:wpcloud/site-alias-list --></div>
<!-- /wp:group --></div>
<!-- /wp:wpcloud/site-domains --></article>
<!-- /wp:wpcloud/card --></article>
<!-- /wp:wpcloud/card --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer","area":"footer","className":"wpcloud-footer"} /-->