<!-- wp:template-part {"slug":"header","theme":"wpcloud-station-theme-pico","tagName":"header","area":"header"} /-->

<!-- wp:columns {"className":"wpcloud-site-view\u002d\u002dcontent"} -->
<div class="wp-block-columns wpcloud-site-view--content"><!-- wp:column {"width":""} -->
<div class="wp-block-column"></div>
<!-- /wp:column -->

<!-- wp:column {"width":"1800px","className":"wpcloud-site-view\u002d\u002ddetails"} -->
<div class="wp-block-column wpcloud-site-view--details" style="flex-basis:1800px"><!-- wp:template-part {"slug":"site-header","theme":"wpcloud-station-theme-pico","area":"uncategorized"} /-->

<!-- wp:group {"metadata":{"name":"Notifications"},"style":{"dimensions":{"minHeight":"80px"},"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":"var:preset|spacing|20"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="min-height:80px;margin-top:0;margin-bottom:0"><!-- wp:wpcloud/form-message {"action":"site_update","message":"Site updated","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"backgroundColor":"vivid-green-cyan","textColor":"white"} -->
<article class="wp-block-wpcloud-form-message has-white-color has-vivid-green-cyan-background-color has-text-color has-background has-link-color display-none wpcloud-form-message wpcloud-form-message--success wpcloud-form-message--dismissable" data-wpcloud-action="site_update" data-message-type="success" role="status" aria-live="polite" data-message-template="Site updated"><p></p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" class="dismiss" aria-hidden="true"><path d="M13 11.8l6.1-6.3-1-1-6.1 6.2-6.1-6.2-1 1 6.1 6.3-6.5 6.7 1 1 6.5-6.6 6.5 6.6 1-1z"></path></svg></article>
<!-- /wp:wpcloud/form-message -->

<!-- wp:wpcloud/form-message {"success":false,"action":"site_update","message":"There was an issue updating the site: ${response.message}","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"backgroundColor":"vivid-red","textColor":"white"} -->
<article class="wp-block-wpcloud-form-message has-white-color has-vivid-red-background-color has-text-color has-background has-link-color display-none wpcloud-form-message wpcloud-form-message--error wpcloud-form-message--dismissable" data-wpcloud-action="site_update" data-message-type="error" role="alert" aria-live="assertive" data-message-template="There was an issue updating the site: ${response.message}"><p></p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" class="dismiss" aria-hidden="true"><path d="M13 11.8l6.1-6.3-1-1-6.1 6.2-6.1-6.2-1 1 6.1 6.3-6.5 6.7 1 1 6.5-6.6 6.5 6.6 1-1z"></path></svg></article>
<!-- /wp:wpcloud/form-message --></div>
<!-- /wp:group -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"25%"} -->
<div class="wp-block-column" style="flex-basis:25%"></div>
<!-- /wp:column -->

<!-- wp:column {"width":"50%"} -->
<div class="wp-block-column" style="flex-basis:50%"><!-- wp:wpcloud/card {"style":{"spacing":{"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"metadata":{"name":"Card: Admin"}} -->
<article style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20);spacing:[object Object]" class="wp-block-wpcloud-card"><!-- wp:wpcloud/card-section {"text":"Admin","metadata":{"name":"Admin"}} -->
<header class="wp-block-wpcloud-card-section"><h2>Admin</h2></header>
<!-- /wp:wpcloud/card-section -->

<!-- wp:wpcloud/site-detail {"label":"WP Admin User","name":"wp_admin_user","className":"wp-block-wpcloud-site-detail"} -->
<div class="wpcloud-block-site-detail"><div class="wpcloud-block-site-detail__title"><h5 class="wpcloud-block-site-detail__title-content">WP Admin User</h5></div><div class="wpcloud-block-site-detail__value-container"><div class="wpcloud-block-site-detail__value">{ WP Admin User }</div></div></div>
<!-- /wp:wpcloud/site-detail -->

<!-- wp:wpcloud/site-detail {"label":"Admin Email","name":"wp_admin_email","metadata":{"name":"Admin Email"},"className":"wp-block-wpcloud-site-detail"} -->
<div class="wpcloud-block-site-detail"><div class="wpcloud-block-site-detail__title"><h5 class="wpcloud-block-site-detail__title-content">Admin Email</h5></div><div class="wpcloud-block-site-detail__value-container"><div class="wpcloud-block-site-detail__value">{ Admin Email }</div></div></div>
<!-- /wp:wpcloud/site-detail --></article>
<!-- /wp:wpcloud/card -->

<!-- wp:wpcloud/card {"metadata":{"name":"Card: Site Info"}} -->
<article class="wp-block-wpcloud-card"><!-- wp:wpcloud/card-section {"text":"Site Info","metadata":{"name":"Site Info"}} -->
<header class="wp-block-wpcloud-card-section"><h2>Site Info</h2></header>
<!-- /wp:wpcloud/card-section -->

<!-- wp:wpcloud/site-update -->
<!-- wp:wpcloud/form {"wpcloudAction":" site_update"} -->
<form class="wp-block-wpcloud-form wpcloud-block-form" enctype="text/plain"><!-- wp:wpcloud/form-input {"type":"select","name":"static_file_404","label":"","options":[{"value":"lightweight","label":"Lightweight"},{"value":"wordpress","label":"WordPress"}],"uniqueId":"83d46602-61fc-4fdc-a514-94bc510b8f3b-static_file_404","submitOnChange":true,"metadata":{"name":"static 404 page"}} -->
<div class="wpcloud-block-form--input wp-block-wpcloud-form-input wpcloud-block-form--input--select"><label class="wpcloud-block-form-input__label" for="83d46602-61fc-4fdc-a514-94bc510b8f3b-static_file_404"><span class="wpcloud-block-form-input__label-content"><span class="wpcloud-block-form-input__label-text"></span><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Static 404 page</p>
<!-- /wp:paragraph -->

<!-- wp:wpcloud/dropdown {"hideChevron":true,"useIcon":true,"icon":"info","metadata":{"name":""}} -->
<details class="wp-block-wpcloud-dropdown dropdown hide-chevron"><summary role="" class=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" aria-hidden="true"><path d="M12 3.2c-4.8 0-8.8 3.9-8.8 8.8 0 4.8 3.9 8.8 8.8 8.8 4.8 0 8.8-3.9 8.8-8.8 0-4.8-4-8.8-8.8-8.8zm0 16c-4 0-7.2-3.3-7.2-7.2C4.8 8 8 4.8 12 4.8s7.2 3.3 7.2 7.2c0 4-3.2 7.2-7.2 7.2zM11 17h2v-6h-2v6zm0-8h2V7h-2v2z"></path></svg></summary><ul><!-- wp:wpcloud/list-item -->
<li class="wp-block-wpcloud-list-item"><!-- wp:paragraph {"metadata":{"name":"Item"}} -->
<p>Set how a site responds to requests for non-existent static files.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>May be set to "lightweight" for simple, fast web server 404s.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>May be set to "wordpress" to delegate such requests to WordPress. The current default is "wordpress".</p>
<!-- /wp:paragraph --></li>
<!-- /wp:wpcloud/list-item --></ul></details>
<!-- /wp:wpcloud/dropdown --></div>
<!-- /wp:group --></span><div class="wpcloud-form-input--select--wrapper"><select class="wpcloud-block-form-input__input submit-on-change wpcloud-station-form-input__select" aria-label="Select" name="static_file_404"><option value="lightweight">Lightweight</option><option value="wordpress">WordPress</option></select></div></label></div>
<!-- /wp:wpcloud/form-input -->

<!-- wp:wpcloud/form-input {"type":"select","name":"wp_version","label":"","options":[{"value":"latest","label":"latest"},{"value":"previous","label":"previous"},{"value":"beta","label":"beta"}],"uniqueId":"afd4fded-58c5-4b00-8963-82fdcbd3070c-wp_version","submitOnChange":true,"metadata":{"name":"WP Version"}} -->
<div class="wpcloud-block-form--input wp-block-wpcloud-form-input wpcloud-block-form--input--select"><label class="wpcloud-block-form-input__label" for="afd4fded-58c5-4b00-8963-82fdcbd3070c-wp_version"><span class="wpcloud-block-form-input__label-content"><span class="wpcloud-block-form-input__label-text"></span><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"layout":{"selfStretch":"fit","flexSize":null}}} -->
<p>WP Version </p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></span><div class="wpcloud-form-input--select--wrapper"><select class="wpcloud-block-form-input__input submit-on-change wpcloud-station-form-input__select" aria-label="Select" name="wp_version"><option value="latest">latest</option><option value="previous">previous</option><option value="beta">beta</option></select></div></label></div>
<!-- /wp:wpcloud/form-input -->

<!-- wp:wpcloud/form-input {"type":"select","name":"php_version","label":"","uniqueId":"6e3e9410-e9b1-453c-8755-c4069c83ea86-php_version","submitOnChange":true,"metadata":{"name":"PHP Version"}} -->
<div class="wpcloud-block-form--input wp-block-wpcloud-form-input wpcloud-block-form--input--select"><label class="wpcloud-block-form-input__label" for="6e3e9410-e9b1-453c-8755-c4069c83ea86-php_version"><span class="wpcloud-block-form-input__label-content"><span class="wpcloud-block-form-input__label-text"></span><!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0"},"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="padding-top:0;padding-bottom:0"><!-- wp:paragraph -->
<p>PHP version</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></span><div class="wpcloud-form-input--select--wrapper"><select class="wpcloud-block-form-input__input submit-on-change wpcloud-station-form-input__select" aria-label="Select" name="php_version"><option value="8.1">8.1</option><option value="8.2">8.2</option><option value="8.3">8.3</option><option value="8.4">8.4</option></select></div></label></div>
<!-- /wp:wpcloud/form-input --></form>
<!-- /wp:wpcloud/form -->
<!-- /wp:wpcloud/site-update --></article>
<!-- /wp:wpcloud/card --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"25%"} -->
<div class="wp-block-column" style="flex-basis:25%"></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer","theme":"wpcloud-station-theme-pico","area":"footer","className":"wpcloud-footer"} /-->