.wpcloud-more-menu__nav {
	padding-bottom: 8px;
	form {
		height: 56px;
	}
	button {
		font-family: var(--wp--preset--font-family--primary);
	}
	 h4 {
		text-transform: uppercase;
		font-size: var(--wp--preset--font-size--small-caps);
		margin: 0;
		letter-spacing: 2px;
	}

	.wp-block-wpcloud-form {
		justify-content: space-between;
		font-size: var(--wp--preset--font-size--body-medium);
	}
}