@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
}

.pulse {
  animation: pulse 0.5s ease-in-out;
}

@keyframes hilight {
  50% {
		filter: brightness(3);
		transform: scale(1.01);
	}
}

.highlight {
  animation: hilight 0.5s ease-in-out
}

.hidden {
	display: none;
}

.copy-to-clipboard {
	display: flex;
  align-items: center;
  gap: 2px;
	svg {
		cursor: pointer;
		&:hover {
			filter: brightness(3);
		}
	}

}

.wp-block-site-logo img.custom-logo {
	@media (prefers-color-scheme: light) {
		filter: brightness(0.4) saturate(1.1) contrast(1.2) hue-rotate(210deg);
	}
	@media (prefers-color-scheme: dark) {
		filter: invert(25%) sepia(80%) saturate(700%) hue-rotate(190deg) brightness(95%) contrast(100%);
	}
}

.wpcloud-block-table-cell--wrapper {
	white-space: nowrap;
}

.wp-block-wpcloud-nav  {
	li {
		white-space: nowrap;
		* {
			color: inherit;
		}
	}
	a.current {
		text-decoration: underline;
	}
	a.is-icon-only {
		padding-left: 0;
		display: flex;
		align-items: center;
	}
}

.wp-block-wpcloud-card {
	header, footer {
		* {
			color: inherit;
			margin: 0;
		}
	}
}

button[type=submit].wpcloud-block-button {
	width: fit-content;
}

.wp-block-wpcloud-dropdown {
	summary {
		display: flex;
    justify-content: space-between;
    align-items: center;
		* {
			margin: 0;
		}
		svg {
			&:hover {
				filter: brightness(3);
			}
		}
	}
	border: none;
	&.hide-chevron  {
		::after {
			display: none;
		}
	}

	&.open-right {
		ul {
			right: 0;
			left: unset;
		}
	}
}

button.wpcloud-block-button {
	border: 1px solid transparent;
  background-clip: padding-box;
}
.wpcloud-block-button {
	cursor: pointer;
}

.wpcloud-block-form {
	input:read-only, textarea:read-only {
		background-color: transparent;
		border: none;
	}
}

.wpcloud-form-message {
	&:not(.hidden) {
		display: flex;
	}
	align-items: center;
	justify-content: space-between;
	.dismiss {
		cursor: pointer;
		fill: currentColor;
		&:hover {
			filter: brightness(3);
		}
	}
	p {
		margin: 0;
		color: inherit;
	}
}