$color__background-body: #1A1515;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #fff;
$color__link-visited: #fff;
$color__link-hover: #cf2e2e;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__wpcloud-white: #FFF;
$color__wp-cloud-1-base-30: #5E4C4C;
$color__wpcloud-1-accent-600: #F72B00;
$color__wpcloud-1-accent-700: #CC1B02;
$color__wpcloud-2-accent-600: #21759b;
$color__wpcloud-2-accent-700: #398cb3;
$color__wp-cloud-1-contrast-70: #978B8B;
$color__wp-cloud-1-accent-scale-700: #CC1B02;
